<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link th:href="@{/style.css}" rel="stylesheet" href="../static/style.css"/>
    <title>Group</title>
</head>

<body class="login">

<h1 class="form_title">Панель групп</h1>

<div class="form_group">
    <form class="form" action="/teacher">
        <button class="form_button_panel_teacher">Панель Учителя</button>
    </form>
</div>

<h3>Information on all groups</h3>

<table>
    <tr>
        <th>ID</th>
        <th>NAME</th>
        <th>DELETE</th>
    </tr>
    <tr th:each="group,iterStat : ${allGroups}" th:class="${iterStat.odd}? 'odd'">
        <td th:text="${group.id}">Id</td>
        <td th:text="${group.name}">Name</td>
        <form th:method="POST" th:action="@{/teacher/groupPanel/delete}">
            <td>
                <input type="hidden" name="id" th:value="${group.id}">
                <input type="submit" value="Delete"/>
            </td>
        </form>
    </tr>
</table>

<form class="form" method="POST" action="/teacher/groupPanel">
    <h3>Create group</h3>
    <div class="form_group">
        <input class="form_input" placeholder=" " type="text" id="groupName" name="name" required/>
        <label class="form_label" for="groupName">Group name:</label>
    </div>
    <input class="form_button" type="submit" value="Create"/>
</form>
<h4><a href="/">Главная страница</a></h4>
</body>
</html>
