<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/schema/security/tags">
<link>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Sign in</title>
    <link th:href="@{/style.css}" rel="stylesheet" href="../static/style.css"/>
</head>
<body class="login">
    <sec:authorize access="isAuthenticated()"></sec:authorize>

    <form class="form" method="POST" action="/login">
        <h1 class="form_title">Вход в систему</h1>
        <div class="form_group">
            <input class="form_input" name="username" type="text" placeholder=" " autofocus="true"/>
            <label class="form_label">Username</label>
        </div>
        <div class="form_group">
            <input  class="form_input" name="password" type="password" placeholder=" "/>
            <label class="form_label">Password</label>
        </div>
        <div>
            <button class="form_button" type="submit">Log In</button>
        </div>

        <div th:if="${param.error}">
            Invalid username and password.
        </div>
        <div>
            <h4><a href="/registration">Зарегистрироваться</a></h4>
        </div>

        <h4><a href="/">Назад</a></h4>

    </form>

</body>
</html>