<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Personal account</title>
</head>
<body>

<h1>Вы зашли под именем, <span th:text="${currentUser.username}"></span>!</h1>

<h2>Мои данные</h2>
<p>Ид: <span th:text="${currentUser.id}"></span></p>
<p>Логин : <span th:text="${currentUser.username}"></span></p>
<!--<p>Ваша пароль: <span th:text="${currentUser.password}"></span></p>-->
<p>Роль: <span th:text="${currentUser.roles.name}"></span></p>

<!--<form action="/student/update" method="post">-->
<!--    <label for="firstName">Имя:</label>-->
<!--    <input type="text" id="firstName" th:field="*{firstName}"/>-->
<!--    <label for="firstName">Фамилия:</label>-->
<!--    <input type="text" id="lastName" th:field="*{lastName}"/>-->

<!--&lt;!&ndash;    <p>Имя: <span th:text="${currentUser.firstName}"></span></p>&ndash;&gt;-->
<!--&lt;!&ndash;    <p>Фамилия: <span th:text="${currentUser.lastName}"></span></p>&ndash;&gt;-->
<!--    <input type="hidden" name="id" th:value="${currentUser.id}">-->
<!--    <input type="submit" value="Update">-->
<!--</form>-->

<p>Группа: <span th:text="${currentUser.group.name}"></span></p>
<!--<p>Задача: <span th:text="${groupTask.task.name}"></span></p>-->
<!--<p>Учитель: <span th:text="${groupTask.task.teacher.name}"></span></p>-->
<!--<p>Актив задача: <span th:text="${groupTask.task.isActive}"></span></p>-->
<!--<p>Результат: <span th:text="${groupTask.task.result}"></span></p>-->
<!--<table>-->
<!--    <thead>-->
<!--    <tr>-->
<!--        <th>Имя</th>-->
<!--        <th>Почта</th>-->
<!--        <th>Группа</th>-->
<!--    </tr>-->
<!--    </thead>-->
<!--    <tbody>-->
<!--    <tr th:each="student : ${students}">-->
<!--        <td th:text="${student.name}"></td>-->
<!--        <td th:text="${student.email}"></td>-->
<!--        <td th:text="${student.group.name}"></td>-->
<!--    </tr>-->
<!--    </tbody>-->
<!--</table>-->
<!--<h2>Мои задания</h2>-->
<!--<table>-->
<!--    <thead>-->
<!--    <tr>-->
<!--        <th>Имя</th>-->
<!--        <th>Почта</th>-->
<!--        <th>Группа</th>-->
<!--    </tr>-->
<!--    </thead>-->
<!--    <tbody>-->
<!--    <tr th:each="student : ${students}">-->
<!--        <td th:text="${student.name}"></td>-->
<!--        <td th:text="${student.email}"></td>-->
<!--        <td th:text="${student.group.name}"></td>-->
<!--    </tr>-->
<!--    </tbody>-->
<!--</table>-->
<h4><a href="/">Главная</a></h4>
</body>
</html>