<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/schema/security/tags">
<head>
    <meta charset="UTF-8">
    <title>Personal account</title>
    <link th:href="@{/style.css}" rel="stylesheet" href="../static/style.css"/>
</head>

<body class="login">

    <h2 >Вы зашли под именем, <span th:text="${currentUser.username}"></span>!</h2>


    <div class="form_group">
        <h1 class="form_title">Мои данные</h1>
        <p>Ид: <span th:text="${currentUser.id}"></span></p>
        <p>Логин : <span th:text="${currentUser.username}"></span></p>
        <p>Имя : <span th:text="${currentUser.firstName}"></span></p>
        <p>Фамилия : <span th:text="${currentUser.lastName}"></span></p>
        <p>Роль: <span th:text="${currentUser.role.name}"></span></p>
        <p>Группа: <span th:text="${currentUser.groupUser.name}"></span></p>
    </div>


    <div class="form_group">
        <h1 class="form_title">Мои задачи</h1>
        <table>
            <thead>
            <tr>
                <th>Задача</th>
                <th>Ответ</th>
                <th>Результат</th>
                <th>Отправить ответ</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="task : ${tasks}">
                <td th:text="${task.name}"></td>
                <td> <span th:each="response : ${allTasksResponse}" th:if="${response.task.id == task.id}">
                         <span th:text="${response.answer}"></span>
                     </span>
                </td>
                <td> <span th:each="response : ${allTasksResponse}" th:if="${response.task.id == task.id}">
                         <span th:text="${response.result}" th:style="${response.result == true ? 'color:green' : response.result == false ? 'color:red' : ''}"></span>
                     </span>
                </td>
                <td>
                    <form method="post" th:action="@{/student/response}">
                        <input type="hidden" name="taskId" th:value="${task.id}" />
                        <input type="text" name="answer" />
                        <button type="submit">Send answer</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <sec:authorize access="isAuthenticated()">
        <h4><a th:if="${#request.userPrincipal != null}" th:href="@{/logout}">Выйти</a></h4>
    </sec:authorize>
    <h4><a href="/">Главная страница</a></h4>
</body>
</html>