<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link th:href="@{/style.css}" rel="stylesheet" href="../static/style.css"/>
    <style>

    </style>
    <meta charset="UTF-8">
    <title>Task</title>
</head>
<body>
<h2>Panel Task</h2>
<h3>Information on all task</h3>
<table>
    <tr>
        <th>ID</th>
        <th>NAME</th>
        <th>RESULT</th>
        <th>TEACHER</th>
    </tr>
    <tr th:each="task,iterStat : ${allTask}" th:class="${iterStat.odd}? 'odd'">
        <td th:text="${task.id}">Id</td>
        <td th:text="${task.name}">Name</td>
        <td th:text="${task.result}">Result</td>
        <td th:text="${task.teacher.name}">Teacher name</td>
    </tr>
</table>
<hr>
<h4>Panel active task</h4>
<form action="/teacher/taskPanelActive">
    <button>Панель активных заданий</button>
</form>
<hr>
<h3>Create Task</h3>
<form method="POST" action="/teacher/taskPanel">
    <label for="taskName">Task name:</label>
    <input type="text" id="taskName" name="name" required/>
    <br/>
    <label for="taskResult">Task result:</label>
    <input type="text" id="taskResult" name="result" required/>
    <br/>
    <label for="taskTeacherID">Teacher ID:</label>
    <input type="text" id="taskTeacherID" name="teacher" required/>
    <br/>
    <input type="submit" value="Create"/>
</form>
<hr>
<h3>Update task result</h3>
<form th:method="POST" th:action="@{/teacher/taskPanel/updateResult}">
    <label for="taskIDUpdate">ID task:</label>
    <input type="text" id="taskIDUpdate" name="id" required/>
    <br/>
    <label for="taskResultUpdate">Result update:</label>
    <input type="text" id="taskResultUpdate" name="result" required/>
    <br/>
    <input type="submit" value="Update"/>
</form>
<hr>
<h3>Update task active</h3>
<form th:method="POST" th:action="@{/teacher/taskPanel/updateActive}">
    <label for="taskID">ID task:</label>
    <input type="text" id="taskID" name="id" required/>
    <br/>
    <label for="taskActiveUpdate">Task active update:</label>
    <input type="text" id="taskActiveUpdate" name="isActive" required/>
    <br/>
    <input type="submit" value="Update"/>
</form>
<hr>
<h3>Update task teacher</h3>
<form th:method="POST" th:action="@{/teacher/taskPanel/updateTeacher}">
    <label for="taskUpdateID">ID task for update:</label>
    <input type="text" id="taskUpdateID" name="id" required/>
    <br/>
    <label for="taskTeacherUpdate">ID teacher for update:</label>
    <input type="text" id="taskTeacherUpdate" name="teacher" required/>
    <br/>
    <input type="submit" value="Update"/>
</form>
<hr>
<h3>Delete task</h3>
<form th:method="POST" th:action="@{/teacher/taskPanel/delete}">
    <label for="id">Delete task on id:</label>
    <input type="text" id="id" name="id" required/>
    <input type="submit" value="Delete">
</form>
<hr>
<h3>Panel teacher</h3>
<form action="/teacher">
    <button>Панель Учителя</button>
</form>

<hr>
</body>
</html>