<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.springframework.org/schema/security/tags">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link th:href="@{/style.css}" rel="stylesheet" href="../static/style.css"/>
    <style>
    </style>
    <meta charset="UTF-8">
    <title>Task</title>
</head>

<body class="login">

    <sec:authorize access="isAuthenticated()">
        <h2 th:if="${#request.userPrincipal != null}">Здравствуйте, <span  th:text="${currentUser.username}"></span>!</h2>
    </sec:authorize>

    <sec:authorize access="!isAuthenticated()">
        <h2 th:if="${#request.userPrincipal == null}"> Вы не авторизованы</h2>
    </sec:authorize>

    <sec:authorize access="!isAuthenticated()">
        <h4><a th:if="${#request.userPrincipal == null}" th:href="@{/login}">Войти</a></h4>
        <h4><a th:if="${#request.userPrincipal == null}" th:href="@{/registration}">Зарегистрироваться</a></h4>
    </sec:authorize>

    <h1 class="form_title">Панель заданий учителя</h1>

    <div class="form_group">
        <form action="/teacher">
            <button class="form_button_panel_teacher">Панель Учителя</button>
        </form>
    </div>

    <h3>Все задания</h3>
    <table>
        <tr>
            <th>Номер</th>
            <th>Задание</th>
            <th>Активность</th>
            <th>Выбор</th>
            <th>Обновить</th>
            <th>Группа</th>
            <th>Выбор</th>
            <th>Обновить</th>
            <th>Удалить</th>
        </tr>
        <tr th:each="task,iterStat : ${allTask}" th:class="${iterStat.odd}? 'odd'">
                <td th:text="${task.id}">Номер</td>
                <td th:text="${task.name}">Задание</td>
            <td th:text="${task.isActive}">Активность</td>
            <form th:method="POST" th:action="@{/teacher/taskPanel/updateActive}">
                <td>
                    <select type="text" id="isActive" name="isActive" required>
                        <option th:value="true" th:text="true"></option>
                        <option th:value="false" th:text="false"></option>
                    </select>
                </td>
                <td>
                    <input type="hidden" name="id" th:value="${task.id}">
                    <input type="submit" value="Update"/>
                </td>
            </form>

            <td th:text="${task.groupTask.getName()}">Группа</td>
            <form th:method="POST" th:action="@{/teacher/taskPanel/updateGroup}">
                <td>
                    <select type="text" id="idGroup" name="idGroup" required>
                        <option th:each="group : ${allGroup}"
                                th:value="${group.id}"
                                th:text="${group.name}">
                        </option>
                    </select>
                </td>
                <td>
                    <input type="hidden" name="id" th:value="${task.id}">
                    <input type="submit" value="Update">
                </td>
            </form>
                <form th:method="POST" th:action="@{/teacher/taskPanel/delete}">
                    <td>
                    <input type="hidden" name="id" th:value="${task.id}">
                    <input type="submit" value="Delete">
                    </td>
                </form>
        </tr>
    </table>

    <form class="form" method="POST" action="/teacher/taskPanel">
        <h1 class="form_title">Создать задание</h1>
        <div class="form_group">
            <input class="form_input" placeholder=" " type="text" id="taskName" name="name" required/>
            <label class="form_label" for="taskName">Задание:</label>
        </div>
            <input class="form_button" type="submit" value="Create"/>
    </form>

</body>
</html>