<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.springframework.org/schema/security/tags">
<head>
    <meta charset="UTF-8">
    <title>Task</title>

    <link th:href="@{/style.css}" rel="stylesheet" href="../static/style.css"/>
</head>

<body class="login">

    <sec:authorize access="isAuthenticated()">
        <h2 th:if="${#request.userPrincipal != null}">Здравствуйте, <span  th:text="${currentUser.username}"></span>!</h2>
    </sec:authorize>

    <sec:authorize access="!isAuthenticated()">
        <h2 th:if="${#request.userPrincipal == null}"> Вы не авторизованы</h2>
    </sec:authorize>

    <sec:authorize access="!isAuthenticated()">
        <h4><a th:if="${#request.userPrincipal == null}" th:href="@{/login}">Войти</a></h4>
        <h4><a th:if="${#request.userPrincipal == null}" th:href="@{/registration}">Зарегистрироваться</a></h4>
    </sec:authorize>

    <h1 class="form_title">Панель заданий всех учителей</h1>

    <div class="form_group">
        <form action="/teacher">
            <button class="form_button_panel_teacher">Панель Учителя</button>
        </form>
    </div>


    <h3>Информация о всех заданиях</h3>
    <table>
        <tr>
            <th>Номер</th>
            <th>Задание</th>
            <th>Активность</th>
            <th>Номер учителя</th>
            <th>Логин</th>
        </tr>
        <tr th:each="task,iterStat : ${allTask}" th:class="${iterStat.odd}? 'odd'">
            <td th:text="${task.id}">Id</td>
            <td th:text="${task.name}">Name</td>
            <td th:text="${task.isActive}">isActive</td>
            <td th:text="${task.teacher.id}">Teacher id</td>
            <td th:text="${task.teacher.username}">Teacher name</td>
        </tr>
    </table>
    <form class="form" th:method="POST" th:action="@{/teacher/taskPanelIsActive/updateTeacher}">
        <h1 class="form_title">Смена учителя</h1>
        <div class="form_group">
            <input class="form_input" placeholder=" " type="text" id="taskUpdateID" name="id" required />
            <label class="form_label" for="taskUpdateID">Номер задачи:</label>
        </div>
        <div class="form_group"> <select class="form_input" id="taskTeacherUpdate" name="teacher" required>
            <option th:each="teacher : ${allTeacher}" th:value="${teacher.id}" th:text="${teacher.username}"></option>
        </select> <label class="form_label" for="taskTeacherUpdate">Выберите учителя:</label> </div>
        <input class="form_button" type="submit" value="Update" />
    </form>
</body>
</html>