<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.springframework.org/schema/security/tags">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/style.css}" rel="stylesheet" href="../static/style.css"/>
    <title>Teacher</title>
</head>
<body class="login">
    <sec:authorize access="isAuthenticated()">
        <h2 th:if="${#request.userPrincipal != null}">Здравствуйте, <span  th:text="${currentUser.username}"></span>!</h2>
    </sec:authorize>

    <sec:authorize access="!isAuthenticated()">
        <h2 th:if="${#request.userPrincipal == null}"> Вы не авторизованы</h2>
    </sec:authorize>

    <sec:authorize access="!isAuthenticated()">
        <h4><a th:if="${#request.userPrincipal == null}" th:href="@{/login}">Войти</a></h4>
        <h4><a th:if="${#request.userPrincipal == null}" th:href="@{/registration}">Зарегистрироваться</a></h4>
    </sec:authorize>

    <h1 class="form_title">Панель Учителя</h1>
    <table>

        <div class="form_group">
            <form action="/teacher/taskPanel">
                <button class="form_button_panel_task">Мои задания</button>
            </form>
        </div>

        <div class="form_group">
            <form action="/teacher/tasksToCheck">
                <button class="form_button_check_task">Проверить задания</button>
            </form>
        </div>

        <div class="form_group">
            <form action="/teacher/taskPanelIsActive">
                <button class="form_button_panel_all_task">Задания всех учителей</button>
            </form>
        </div>

        <div class="form_group">
            <form action="/teacher/groupPanel">
                <button class="form_button_panel_group">Список групп</button>
            </form>
        </div>


    </table>

    <sec:authorize access="isAuthenticated()">
        <h4><a th:if="${#request.userPrincipal != null}" th:href="@{/logout}">Выйти</a></h4>
    </sec:authorize>

    <h4><a href="/">Главная страница</a></h4>
</body>
